.ToggleButton {
    background-color: red;
    color: white;
    font-size: 12px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin: 10px;
}
.centerornot{
    display: flex;
}
@supports (display: inline-block) {
    @media screen and (max-width: 600px) {
        .centerornot{
            justify-content: center;
        }
    }
}